/* div {
  background-color: #E4F9F5;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
} */

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 16px = 100% = 1em good for scaling*/
  color: #66BFBF;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 3;
}


h3 {
  color: #11999E;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
}

.middle-container {
}

.bottom-container {
}

.bottom-cloud {
	position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
span {
	text-decoration: underline;
}

.r2d2 {
  image-resolution: 10px;
}

.credits {
  font-size: xx-small;
}
